.body {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  padding: 20px;
  font-size: 2rem;
  height: 95vh;
}

.name {
  display: flex;
  align-items: center;
}

.name div,
select {
  padding-right: 10px;
}

.name li {
  font-size: 0.5rem;
}

.about {
  margin-top: auto;
}
