.main {
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.display {
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.display div {
  padding-right: 10px;
}
