.header {
  font-size: 2rem;
  color: white;
  background-color: #00435b;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.logo {
  padding-right: 15px;
  height: 55px;
}
